body {
    margin: 0;
}

* {
    font-family: "Roboto", serif;
}

.section {
    padding: 48px 120px;
}

.header, .footer, .introductory-section {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 18px;
}

.header-links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 18px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    flex: none;
}

.introductory-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}

.introductory-section img {
    width: 100%;
}

.introductory-text {
    flex: 1;
}

.introductory-image {
    flex: 1;
    min-width: 200px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.introductory-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.introductory-section button {
    font-size: 18px;
    color: white;
    background-color: #3882f6;
    padding: 9px 36px;
    border-radius: 10px;
    border-style: none;
}

.information-section {
    text-align: center;
    font-size: 18px;
}

.information-section h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 0;
}

.information-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.image-card {
    width: min-content;
}

.image-card p {
    margin: 0;
    color: #1F2937;
}

.information-images img {
    border-radius: 10px;
    border-width: 2px;
    border-color: #3882f6;
    border-style: solid;
    width: 200px;
    height: 200px;
}

.quote-section {
    background-color: #e5e7eb;
    font-style: italic;
}

.quote-section div {
    padding: 48px;
}

.quote-section .quote {
    font-size: 36px;
}

.quote-section .author {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}